<h1>Log in</h1>
<form action="/login" method="POST">
    <label for="username">Username:
        <input name="username" type="text" required>
    </label>
    <label for="password">Password:
        <input name="password" type="password" required>
    </label>
    <input type="submit" value="Log In">
</form>