<h1>Sign up</h1>
<form action="/users" method="POST">
    <p>
        <label for="username">Username:
            <input name="username" type="text" required>
        </label>
    </p>
    <p>
        <label for="password">Password:
            <input name="password" type="password" required>
        </label>
    </p>
    <p>
        <input class="btn success submit" type="submit" value="Sign up">
    </p>
</form>