<% content.title = "Sorghum - Counties" %>
<h1>Seeds per pound aggregate data</h1>
<table class="half_table" id="measurements_table" class="table-hover">
  <thead>
  <tr>
    <th>County</th>
    <th>Max</th>
    <th>Min</th>
    <th>Mean</th>
  </tr>
  </thead>
  <tbody>
    <%= partial('measurements/_county', params.pages); %>
  </tbody>
</table>
