<% content.title = "Sorghum - Counties" %>
<h1>Counties</h1>
<table id="measurements_table" class="table-hover">
  <thead>
  <tr>
    <th>County</th>
    <th>Max</th>
    <th>Min</th>
    <th>Mean</th>
  </tr>
  </thead>
  <tbody>
    <%= partial('measurements/_county', params.pages); %>
  </tbody>
</table>
