<% content.title = "Measurements" %>
<%= params.user_panel %>
<h1>Measurements</h1>
<table>
  <tr>
    <th>ACRES</th>
    <th>HEADS PER ACRE</th>
    <th>ROW SPACING</th>
    <th>APP AREA</th>
    <th>SEEDS PER POUND</th>
    <th>Date</th>
    <th>Time</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= partial('measurements/_measurement', params.pages); %>
</table>