<% content.title = "Sorghum - Measurements" %>
<h1>Measurements</h1>
<!--Charts-->
X-Axis <br />
<form name="xAxisForm">
  <input type="radio" name="xAxis"  value="1" checked="checked"/> ACRES
  <input type="radio" name="xAxis"  value="2" /> HEADS PER ACRE
  <input type="radio" name="xAxis"  value="3" /> ROW SPACING
</form>

Y-Axis <br />
<form name="yAxisForm">
  <input type="radio" name="yAxis"  value="4" checked="checked"/> APP AREA
  <input type="radio" name="yAxis"  value="5" /> SEEDS PER POUND
</form>
<br />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<button class="btn success" type="button" onclick="loadChart()" id="chart">Load Chart</button>
<br />
<script src="/charts.js"></script>


<!--Charts end-->
<table id="measurements_table">
  <thead>
  <tr>
    <th>ACRES</th>
    <th>HEADS PER ACRE</th>
    <th>ROW SPACING</th>
    <th>APP AREA</th>
    <th>SEEDS PER POUND</th>
    <th>Date</th>
    <th>Time</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>County</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%= partial('measurements/_measurement', params.pages); %>
  </tbody>
</table>
<form action="/measurements" method="POST">
  <button class="btn info" type="submit" onclick="exportData()" id="exportButton">Export data</button>
</form>
