<% content.title = "Sorghum - Map" %>
<!--Map-->
<div id="map"></div>
<script type="text/javascript" src="/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQdmVDU5huIguIHEqcyzVl0grIWQgR7M&callback=initMap"
async defer></script>
<!--Map end-->
