<% content.title = "Sorghum - Kansas Seeds Map" %>
<h1>Sorghum Kansas Map Seeds</h1>
<!--Map-->
<div id="map"></div>
<div id="legend"></div>

<script type="text/javascript" src="/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQdmVDU5huIguIHEqcyzVl0grIWQgR7M&callback=initMapSeeds"
async defer></script>
<!--Map end-->
