<% content.title = "Sorghum - Kansas Yield Map" %>
<h1>Sorghum Kansas Map Yield</h1>
<!--Map-->
<div id="map"></div>
<script type="text/javascript" src="/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQdmVDU5huIguIHEqcyzVl0grIWQgR7M&callback=initMapYield"
async defer></script>
<!--Map end-->
