<% content.title = "Sorghum - Kansas App Area Map" %>
<h1>Sorghum Kansas Map - App Area</h1>
<!--Map-->
<div id="map"></div>
<div id="legend">APP<br> AREA<br> [cm^2]</div>

<script type="text/javascript" src="/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTQdmVDU5huIguIHEqcyzVl0grIWQgR7M&callback=initMapYield"
async defer></script>
<!--Map end-->
