<!doctype html>
<html>
  <head>
    <title><%= content.title ? content.title : "Sorghum frontend" %></title>
    <script src="/bundle.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700italic,700,600italic,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sorghum frontend</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li id="measurements"><a href="/measurements">Measurements</a></li>
              <li id="mapyield"><a href="/mapyield">Yield Map</a></li>
              <li id="mapseeds"><a href="/mapseeds">Seeds Map</a></li>
              <li id="chartt"><a href="/chart">Chart</a></li>
              <form class="navbar-form navbar-left" raction="/measurements" method="POST" >
                <button type="submit" class="btn btn-default" onclick="exportData()" id="exportButton">Export data</button>
              </form>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= params.current_user ? params.current_user.email : ""%> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href='/logout'>Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
<!-- Navbar active tab script -->
<script>
  var url = window.location.pathname.split('/');
  var tab = url.pop();
  if(tab=="measurements"){
    document.getElementById("measurements").className = "active";
  } else if (tab=="mapyield"){
    document.getElementById("mapyield").className = "active";
  } else if (tab=="mapseeds"){
    document.getElementById("mapseeds").className = "active";
  } else if (tab=="chart"){
    document.getElementById("chartt").className = "active";
  }
</script>

    </nav>
    <div class="container">
      <%= content.body %>
    </div>
    <div id="footer"></div>
  </body>
</html>
